/* Contact home */
.contact-home {
  background-color: #363636;
}
.contact-home > .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  padding:108px 0 0 0;
  gap: 64px;
}
.contact-description h2 {
  color: #fFF;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
}
.contact-description p {
  color: #8E8E8E;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.contact-form {
  border: 1px solid #E9E9E9;
  background-color: #FFF;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 40px;
}
.form-title {
  color: #E20C32;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contact-form .second-button {
  margin-top: 16px;
  max-width: 100%;
  border: none;
}
.contact-form input {
  width: 100%;
}
textarea {
  resize: none;
  height: 164px;
  border: 1px solid #e9e9e9;
}
.form-control:focus {
  color: #8E8E8E;
  background-color: #fff;
  border-color:transparent;
  outline: 0;
  box-shadow: 0 0 0 0.15rem transparent;
}
input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
  color: #8e8e8e;
}
.contact-form input {
  height: 52px;
  border: 1px solid #e9e9e9;
  padding: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.seta {
  position: relative;
  bottom: 146px; 
  max-width: 45%
}
@media only screen and (max-width: 1122px){
  .seta {
    bottom: 100px;
  }
}
@media only screen and (max-width: 992px){
  .seta {
    display: none;
  }
  .contact-home > .container {
    grid-template-columns: 1fr;
    padding: 54px 0;
    max-width: 90%;
  }
}
/* Contact home end */