footer{
  background-color: #2B2B2B;
  padding: 64px 0;
  color: #fff;
}
footer > .container {
  display: flex;
  justify-content: space-between;
}
footer ul {
  list-style: none;
  padding: 0;
}
.logo-footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu-footer  > ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: 30px;
}
.footer-link {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.footer-link:hover {
  color: #E20C32;
}
.menu-footer li a {
  color: #D9DBE1;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.menu-footer li a:hover {
 opacity: 0.8;
}
.footer-form input {
  background-color: #FFFFFF20;
  border: none;
  border-radius: 4px;
  padding: 16px;
  height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.footer-form__button {
  border: none;
  background-color: transparent;
  position: relative;
  right: 40px;
}
@media only screen and (max-width: 768px){
  footer > .container {
    flex-direction: column;
    gap: 40px;
  }
  .form-footer {
    order: 2;
  }
  .menu-footer {
    order: 3;
  }
}