body {
  background-color: #F7F5F4;
}
.header-button {
  padding: 8px 16px !important;
  color: #E20C32;
  background-color: #E20C321A;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  max-width: 172px;
  transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  gap: 10px;
}
.header-button:hover {
  background-color: #E20C32;
  color: #FFFFFF !important;
}
.header-button:hover svg path {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.header-button:hover svg path {
  color: #fff;
  fill: #fff;
}

.primary-button {
  padding: 16px 24px !important;
  color: #E20C32;
  background-color: #E20C321A;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  max-width: 172px;
  transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  gap: 10px;
}
.primary-button:hover {
  background-color: #E20C32;
  color: #FFFFFF !important;
}
.primary-button:hover svg path {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.primary-button:hover svg path {
  color: #fff;
  fill: #fff;
}
.second-button {
  background-color: #E20C32;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 24px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 205px;
  gap: 10px;
}
.second-button:hover {
  background-color: #E20C321A;
  color: #E20C32;
}
.second-button svg path {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.second-button:hover svg path {
    fill: #E20C32;
}




