header {
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
}
.mobile-menu{
  display: none;
}
.mobile-logo {
  display: none;
}
.navigation {
  gap: 40px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0 ;
  padding-right: 0;
}

.navigation .nav-link {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.navigation .nav-link:hover {
  color: #E20C32;
}
.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.social-icon svg path {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.social-icon:hover svg path {
  fill: #E20C32;
}

@media only screen and (max-width: 992px){
  .hamburguer {
    display: block;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    background-color: #2B2B2B;
  }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
    -webkit-transform: translateY(4px) rotate(45deg);
    -moz-transform: translateY(4px) rotate(45deg);
    -ms-transform: translateY(4px) rotate(45deg);
    -o-transform: translateY(4px) rotate(45deg);
}
  .hamburguer.active .bar:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
    -webkit-transform: translateY(-4px) rotate(-45deg);
    -moz-transform: translateY(-4px) rotate(-45deg);
    -ms-transform: translateY(-4px) rotate(-45deg);
    -o-transform: translateY(-4px) rotate(-45deg);
}
  .desktop-menu{
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .navbar > .container {
    padding-bottom: 8px;
  }
  .navbar-collapse{
    background-color: #F0EEED;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    z-index: 2;
  }
.navbar-toggler {
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 2;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.collapse > .navbar-nav {
  padding: 40px 0;
  display: flex;
  align-items: center;
  gap: 20px;
 }
}
@media only screen and (max-width: 425px){
  .desktop-logo {
    display: none;
  }
  .mobile-logo {
    display: block;
  }
}